<template>
  <div>
    <div v-for="item in list" :key='item.name'>
      <div :key="item.name">
        {{item.name}}
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'SpeciesList',
  props: {
    list: {
      type: Array
    }
  }
}
</script>
