<template>
  <q-layout view='lHh Lpr lFf'>
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click='leftDrawerOpen = !leftDrawerOpen'
          icon='menu'
          aria-label='Menu'
        />

        <q-toolbar-title>Quasar App</q-toolbar-title>
        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model='leftDrawerOpen' show-if-above bordered content-class='bg-grey-2'>
      <q-list>
        <q-item-label header>Essential Links</q-item-label>
        <q-item clickable tag='a' target='_blank' href='https://quasar.dev'>
          <q-item-section avatar>
            <q-icon name='school' />
          </q-item-section>
          <q-item-section>
            <q-item-label>Docs</q-item-label>
            <q-item-label caption>quasar.dev</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag='a' target='_blank' href='https://github.quasar.dev'>
          <q-item-section avatar>
            <q-icon name='code' />
          </q-item-section>
          <q-item-section>
            <q-item-label>Github</q-item-label>
            <q-item-label caption>github.com/quasarframework</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag='a' target='_blank' href='https://chat.quasar.dev'>
          <q-item-section avatar>
            <q-icon name='chat' />
          </q-item-section>
          <q-item-section>
            <q-item-label>Discord Chat Channel</q-item-label>
            <q-item-label caption>chat.quasar.dev</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag='a' target='_blank' href='https://forum.quasar.dev'>
          <q-item-section avatar>
            <q-icon name='record_voice_over' />
          </q-item-section>
          <q-item-section>
            <q-item-label>Forum</q-item-label>
            <q-item-label caption>forum.quasar.dev</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag='a' target='_blank' href='https://twitter.quasar.dev'>
          <q-item-section avatar>
            <q-icon name='rss_feed' />
          </q-item-section>
          <q-item-section>
            <q-item-label>Twitter</q-item-label>
            <q-item-label caption>@quasarframework</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag='a' target='_blank' href='https://facebook.quasar.dev'>
          <q-item-section avatar>
            <q-icon name='public' />
          </q-item-section>
          <q-item-section>
            <q-item-label>Facebook</q-item-label>
            <q-item-label caption>@QuasarFramework</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <SpeciesList :list="preloadedData"/>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import SpeciesList from '../components/SpeciesList'
import { mapState, mapActions } from 'vuex'
import dynamicStoreModule from '../store/module-example/dynamicModule'

export default {
  name: 'MyLayout',
  components: {
    SpeciesList
  },
  computed: {
    ...mapState('exampleModule', {
      x: state => state.text
    }),
    preloadedData: function () {
      return this.$store.state.dynamicModule.preloadedData
    }
    // ...mapState('dynamicModule', {
    //   preloadedData: state => state.preloadedData
    // })
  },
  methods: {
    ...mapActions('exampleModule', {
      fetchNewText: 'fetchItem'
    })
  },
  async preFetch ({ store, currentRoute, previousRoute, redirect, ssrContext }) {
    // // fetch data, validate route and optionally redirect to some other route...
    // // ssrContext is available only server-side in SSR mode
    // // No access to 'this' here as preFetch() is called before
    // // the component gets instantiated.
    // // Return a Promise if you are running an async job
    // // Example:
    store.registerModule('dynamicModule', dynamicStoreModule)
    return store.dispatch('dynamicModule/preloadDataAction', ';/')
  },
  mounted () {
    // Preserve the previous state if it was injected from the server
    this.$store.registerModule('dynamicModule', dynamicStoreModule, { preserveState: true })
  },
  // IMPORTANT: avoid duplicate module registration on the client
  // when the route is visited multiple times.
  destroyed () {
    this.$store.unregisterModule('exampleModule')
  },

  data () {
    return {
      leftDrawerOpen: false
    }
  }
}
</script>
